header {
  display: flex;
  background-color: var(--couleur-ecriture-sombre);
}

.header_container {
  max-width: 1280px;
  margin: 10px auto;
  padding: 0 80px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: lightslategray;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: var(--couleur-ecriture-sombre);
}

.nav_list a {
  color: var(--couleur-ecriture-claire);
  font-size: clamp(12px, 2vw, 22px);
}

.logo_desk {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    background-color: lightblue;
  }

  .logo_desk {
    display: none;
  }
  .logo_mobile {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: lightpink;
  }

  .logo_desk {
    display: block;
  }
  .logo_mobile {
    display: none;
  }

  .header_container {
    max-width: 1280px;
    margin: 10px auto;
    padding: 0 80px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: lightslategray;
  }

  .nav_list {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: var(--couleur-ecriture-sombre);
  }

  .nav_list a {
    color: var(--couleur-ecriture-claire);
    font-size: clamp(12px, 2vw, 22px);
  }

  .btn_mobile {
    display: none;
  }
}
